.Rproj.user
.Rhistory
.RData
.Ruserdata
data/2020_US_Region_Mobility_Report.csv
data/ACSDP1Y2019.DP05_data_with_overlays_2021-03-18T145421.csv
data/ACSDP1Y2019.DP05_metadata_2021-03-18T145421.csv
data/ACSDP1Y2019.DP05_table_title_2021-03-18T145421.txt
data/Global_Mobility_Report.csv
data/co-est2019-alldata.csv